/* CSS Document */
#piano{
width: auto;
} 
#audio1{
width: auto;
float: none;

}
#audio{
width: auto;
float: none;
}

html{
 
}
body { 


}

#Big{
width: auto;
 
}

.titleimage{


}
#titleimage{
width: auto;
}

#menu ul{
width: auto;
}

#menu ul li {
width: auto;

 }

#menu{
width: auto;
float: none;
}




#bleh{
width: auto;
}
.stuff{
float: none;
}





#e,d,c,b,a{
width: auto;
float: none;
}


#wowslider-container1{
width: auto;
}

#Big2{
width: auto;


}

p.news{

}


iframe.mainvideo{

}










#menutop{
width: auto;
}

#menutop ul li { 
width: auto;
}
#menutop ul{
width: auto;
}


#h,i,j,k,l{
float: none;
width: auto;
}
#h{
width: auto;
}

#Big3{
width: auto;

}

#content{width: auto;
}

p{
}

h2{
}
h3{

}



#historypictures1{width: auto;
float: none;
}


#modelsimages{width: auto;


}

#Big4{width: auto;


}

#Big5{width: auto;

 
 
}

img.model{
}

div.piano-collectionleft{
float: none;

}
#pianopicture{width: auto;
float: none;
}

#description{width: auto;
float: none;


}

p.grand{
}

h4{
 
}


video.artists{

}

#Big6{
width: auto;
 
}



div.artistssss{
}
div.artistsss{
}

p.names1{

}

p.names{

}

img.artists{
}


a.names{
}


p.features{

}


form {
}
input,
select,
textarea {

}
.register-group {
}
.register-group legend{
 
 
  }

.register-group  label {
}
.register-group input,
.register-group select,
.register-group textarea {
}
.register-group input,
.register-group textarea {
}
.register-group select {
}
.register-group textarea {
}
.btn-default {
  
}
.btn-default:hover {
}


img.map{
}


#map{
width: auto;

}

#Big7{

width: auto;
}


p.end{


}

